*{
    margin: 0%;
    padding: 0%;
}

.nav_MAin{
    justify-content: space-evenly;
    display: flex;
    margin-top: 20px;
        
      
}
.Nav_List{
    justify-content: space-evenly;
    display: flex;
    list-style: none;
    gap: 20px;
}
.search_Box {
  display: flex;
  align-items: center;
  background: rgba(135, 131, 131, 0.2);
  border-radius: 25px;
  backdrop-filter: blur(8px);
  padding: 5px 10px;
}

.search_Box1 {
  border: none;
  background: transparent;
  outline: none;

  width: 200px;
  color: #333;
  font-size: 14px;
}

.search_Box button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.search_Box i {
  color: #373535;
  font-size: 16px;
  transition: 0.3s;
}

.search_Box i:hover {
  color: #ff6f91;
}

.signup_Box{
    background-color: red;
    height: 4vh;
    width: 80px;
    border-radius: 10px;
}


.Signup{
   margin-top: 5px;
   margin-left: 18%;
   background-color: red;
   border-style: none;
}



.section_1{
    height: 50vh;
    color: white;
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;
   font-family: "Sekuya", system-ui;
  font-weight: 400;
  font-style: normal;
    background: url("https://images.unsplash.com/photo-1712397943847-e104395a1a8b?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.subsec1{
  margin-top: 20vh;
}
.btn1{
  background-color: red;
  margin-top: 5vh;
  margin-left: 10%;
  border-radius: 10px;
  height: 5vh;


}
.btn1:hover{
   background-color: #2ecc71;
  transform: scale(1.1);

}

.sec1_img{
  height: 100%;
  width: 25%;
  background-image: url('image5.png');
    background-size: cover;      /* image ko pura container cover karne ke liye */
  background-repeat: no-repeat; /* repeat na ho */
  background-position: center;
}
.main_sec{
    display: flex;
    row-gap: 10px;
    height: 50vh;
    border-radius: 20%;
    margin: 10px;
}
.sec1{
   
    width: 30%;
    border: 2px solid black;
    background-color: rgb(236, 107, 225);
     border-radius: 5%;
    margin: 10px;
     background: url("https://images.unsplash.com/photo-1610113233329-1c73b6f7fe98?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDd8fHBlcmZ1bWV8ZW58MHx8MHx8fDA%3D");
     
  background-size: cover;      /* image ko pura container cover karne ke liye */
  background-repeat: no-repeat; /* repeat na ho */
  background-position: center;
}
.sec2{
    height: 100%;
    width: 70%;
    border: 2px solid black;
    background-color: rgb(104, 171, 239);
    border-radius: 5%;
    margin: 10px;
    background-image: url('https://images3.alphacoders.com/641/641462.jpg');
    background-size: cover;      
    background-repeat: no-repeat; 
    background-position: center

}
.main_sec1{
    display: flex;
    row-gap: 10px;
    height: 50vh;
    margin: 10px;
    margin: 20px;

}
.sec3{
    height: 100%;
    width: 60%;
    
    border: 2px solid black;
    background-color: rgb(236, 107, 225);
    border-radius: 5%;
    margin: 10px;
    background-image: url('https://img.freepik.com/premium-photo/perfume-bottles-white_1105604-23188.jpg');
     background-size: cover;      
    background-repeat: no-repeat; 
    background-position: center
}
.sec4{
    height: 100%;
    width: 40%;
    border: 2px solid black;
    background-color: rgb(104, 171, 239);
    border-radius: 5%;
    margin: 10px;
    background-image: url("https://images.unsplash.com/photo-1544006593-1a0b9255782d?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDJ8fHBlcmZ1bWV8ZW58MHx8MHx8fDA%3D");
    background-size: cover;      
    background-repeat: no-repeat; 
    background-position: center
}



 html,
    body {
      position: relative;
      height: 100%;
    }

 body {
  background: #fff;   /* white */
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;        /* text ko black karne ke liye */
  margin: 0px;
  
  padding: 0;
}

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  

  .card_main{
    background-color: antiquewhite;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
  }
  .card_1{
    
    height: 65%;
    width: 15%;
    font-family: "Italianno", cursive;
  font-weight: 800;
  font-style: normal;
  margin-top: 20px;
  background-size: cover; 
  font-size: large;
   
    background-image: url('https://images.unsplash.com/photo-1513151233558-d860c5398176?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Y2FyZCUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D');
  }
.heading{
    margin-top: -100px;
}

 .card_2{
    
    height: 60%;
    width: 15%;
    font-family: "Italianno", cursive;
  font-weight: 800;
  font-style: normal;
  margin-top: 20px;
  background-size: cover; 
  position: absolute;
  font-size: large;
    background-image: url('https://images.unsplash.com/photo-1513151233558-d860c5398176?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Y2FyZCUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D');
  }
.heading{
    margin-top: -100px;
}

 .card_3{
    
    height: 60%;
    width: 15%;
    font-family: "Italianno", cursive;
  font-weight: 800;
  font-style: normal;
  margin-top: 20px;
  background-size: cover; 
  font-size: large;
    background-image: url('https://images.unsplash.com/photo-1513151233558-d860c5398176?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Y2FyZCUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D');
  }
.heading{
    margin-top: -100px;
}

 .card_4{
    
    height: 60%;
    width: 15%;
    font-family: "Italianno", cursive;
  font-weight: 800;
  font-style: normal;
  margin-top: 20px;
  background-size: cover; 
  font-size: large;
    background-image: url('https://images.unsplash.com/photo-1513151233558-d860c5398176?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Y2FyZCUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D');
  }
.heading{
    margin-top: -100px;
}

.sec_full{
  margin-top: -20vh;
     background-color: rgb(0 0 0);
  height: 20vh;
  display: flex;
  justify-content: space-evenly;
}
.gif_full{
  height: 20vh;
}
.aura{
  color: beige;
  justify-content: center;
    font-family: "Italianno", cursive;
  font-weight: 2000;
  font-style: normal;
  font-size: xx-large;
  margin-top: 30px;
}
.aura:hover{
transform: scale(1.1);

}
.aura1:hover{
transform: scale(2);

}
.aura1{
  color: beige;
   font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: larger;
  margin-right: 40px;
  transform: scale(1.5);
}


.main_sell{
  height: 100vh;
  width: 100%;
  background-color:#FDB5CE;
   background-repeat: no-repeat;
    background-size: cover; 
  background-image: url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExOTl4dHhlb2NvbmU2bGxobWswcnh0d2tnd3VkeHVreGM1bGs0NGdpciZlcD12MV9naWZzX3NlYXJjaCZjdD1n/Skv6LLzPcpxv3uEaCn/giphy.webp');
}
.first_mid_sell{
  height: 35%;
  display: flex;
  gap: 0.01%;
 
}
.second_mid_sell{
  margin-top: 10vh;
   height: 35%;
  display: flex;
  gap: 0.01%;
}
.card1{
  margin: 30px;
  margin-top: 10vh;
  height: 100%;
  width: 20%;
  border: 2px solid black;
    background-size: cover; 
  font-size: large;
  background-image: url('https://img.freepik.com/premium-photo/illustration-ultra-realistic-4k-image-perfume_756405-55396.jpg');
  border-radius: 10px;
}
.card1:hover{
 transform: scale(1.1);
}
.card2{
  margin: 30px;
  margin-top: 10vh;
  height: 100%;
  width: 20%;
  border: 2px solid black;
    background-size: cover; 
  font-size: large;
  background-image: url('https://images2.alphacoders.com/109/thumbbig-1091986.webp');
 border-radius: 10px;
}
.card2:hover{
 transform: scale(1.1);
}
.card3{
  margin: 30px;
  margin-top: 10vh;
  height: 100%;
  width: 20%;
  border: 2px solid black;
    background-size: cover; 
  font-size: large;
  background-image: url('https://m.media-amazon.com/images/I/81Yv02N2JKL.png');
  border-radius: 10px;
}
.card3:hover{
 transform: scale(1.1);
}
.card4{
  margin: 30px;
  margin-top: 10vh;
  height: 100%;
  width: 20%;
  border: 2px solid black;
    background-size: cover; 
  font-size: large;
  background-image: url('https://m.media-amazon.com/images/I/81R7FvaCY3L.png');
  border-radius: 10px;
}
.card4:hover{
 transform: scale(1.1);
}
.card5{
  margin: 30px;
  margin-top: 10vh;
  height: 100%;
  width: 20%;
  border: 2px solid black;
    background-size: cover; 
  font-size: large;
  background-image: url('https://m.media-amazon.com/images/I/81zmHuw1EhL._AC_UL480_FMwebp_QL65_.png');
  border-radius: 10px;
}
.card5:hover{
 transform: scale(1.1);
}
.card6{
  margin: 30px;
  margin-top: 10vh;
  height: 100%;
  width: 20%;
  border: 2px solid black;
    background-size: cover; 
  font-size: large;
  background-image: url('https://m.media-amazon.com/images/I/41+N3X9m78L._AC_UL480_FMwebp_QL65_.jpg');
  border-radius: 10px;
}
.card6:hover{
 transform: scale(1.1);
}
.card7{
  margin: 30px;
  margin-top: 10vh;
  height: 100%;
  width: 20%;
  border: 2px solid black;
    background-size: cover; 
  font-size: large;
  background-image: url('https://m.media-amazon.com/images/I/615kUh4WY5L._AC_SX644_CB1169409_QL70_.jpg');
  border-radius: 10px;
}
.card7:hover{
 transform: scale(1.1);
}
.card8{
  margin: 30px;
  margin-top: 10vh;
  height: 100%;
  width: 20%;
  border: 2px solid black;
    background-size: cover; 
  font-size: large;
  background-image: url('https://rukminim2.flixcart.com/image/612/612/xif0q/perfume/d/g/l/-original-imahgfz5hznzxtaz.jpeg?q=70');
 border-radius: 10px;
}
.card8:hover{
 transform: scale(1.1);
}
.card9{
  margin: 30px;
  margin-top: 10vh;
  height: 100%;
  width: 20%;
  border: 2px solid black;
    background-size: cover; 
  font-size: large;
  background-image: url('https://rukminim2.flixcart.com/image/612/612/xif0q/shopsy-perfume/r/t/s/40-white-oud-perfume-honey-oud-perfume-combo-2x20ml-with-citrus-original-imahfbw8uuumg4yz.jpeg?q=70');
  border-radius: 10px;
}
.card9:hover{
 transform: scale(1.1);
}
.card10{
  margin: 30px;
  margin-top: 10vh;
  height: 100%;
  width: 20%;
  border: 2px solid black;
    background-size: cover; 
  font-size: large;
  background-image: url('https://rukminim2.flixcart.com/image/612/612/xif0q/perfume/s/g/m/-original-imahgfgyzdtua4ug.jpeg?q=70');
  border-radius: 10px;
}
.card10:hover{
 transform: scale(1.1);
}
.card11{
  margin: 30px;
  margin-top: 10vh;
  height: 100%;
  width: 20%;
  border: 2px solid black;
    background-size: cover; 
  font-size: large;
  background-image: url('https://rukminim2.flixcart.com/image/612/612/xif0q/perfume/i/1/n/40-perfume-combo-for-men-2-x-20ml-marine-signature-long-lasting-original-imahdgapqmy8eqjj.jpeg?q=70');
  border-radius: 10px;
}
.card11:hover{
 transform: scale(1.1);
}
.card12{
  margin: 30px;
  margin-top: 10vh;
  height: 100%;
  width: 20%;
  border: 2px solid black;
    background-size: cover; 
  font-size: large;
  background-image: url('https://rukminim2.flixcart.com/image/612/612/xif0q/perfume/s/x/2/40-la-opale-eau-de-parfum-ramsons-men-women-original-imahef5gyy6fjtae.jpeg?q=70');
  border-radius: 10px;

}
.card12:hover{
 transform: scale(1.1);
}
